<%= error_messages_for @vault %>

<div class="box tabular">
  <p><%= f.text_field :host, :require => false, :value => "#{@vault.host || ''}" %></p>

  <% if @vault.id.nil? %>
      <p><%= f.text_field :login, :require => true, :value => "#{@vault.login || ''}" %></p>

      <p><%= f.text_field :password, :require => true, :value => "#{@vault.password || ''}" %></p>
  <% else %>
      <p><%= f.text_field :login, :require => true, :value => "#{vault_decrypt(@vault.login, @master)}" %></p>

      <p><%= f.text_field :password, :require => true, :value => "#{vault_decrypt(@vault.password, @master)}" %></p>
  <% end %>

  <p><%= f.text_area :notes, :required => false, :cols => 40, :value => "#{@vault.notes || ''}", :rows => 15, :class => 'wiki-edit' %></p>

  <p><%= f.hidden_field :master, :required => true, :value => "#{@master}" %></p>
</div>

