<% if @master_password %>
    <%= render :partial => 'nav' %>
    <h2>Passwords vault</h2>
    <div class="autoscroll">
      <table class="list vault">
        <thead>
        <tr>
          <th width="20%">Host</th>
          <th width="5%">Login</th>
          <th width="10%">Password</th>
          <th width="30%">Items</th>
          <th width="20%">Created by</th>
          <th width="20%">Notes</th>
          <th width="5%">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @vault_passwords.each do |password| %>
            <tr>
              <!--hostname-->
              <td class="a-left"><%= password.host %></td>
              <!--login-->
              <td>
                <%= vault_decrypt(password.login, @master) %>
                <a href="#" title="copy" class="icon icon-copy password-copy" data-clipboard-text="<%= vault_decrypt(password.login, @master) %>"></a>
              </td>
              <!--password-->
              <td>
                <span class="vault-password">
                  <%= vault_decrypt(password.password, @master) %>
                </span>
                <a href="#" title="copy" class="icon icon-copy password-copy" data-clipboard-text="<%= vault_decrypt(password.password, @master) %>"></a><a href="#" title="show/hide" class="icon icon-unlock password-lock"></a>
              </td>
              <!--items-->
              <td>
                <table class="items">
                  <% password.sitems.each do |item| %>
                      <tr>
                        <td width="70%">
                          <span class="sitem <%= item.sitem_type %>-sitem">
                            <%= item_output(item.sitem_type, item.sitem, item.notes) %>
                          </span>
                        </td>
                        <td width="30%">
                          <span class="sitem-actions">
                            <%= link_to '', edit_project_vault_sitem_path(:vault_id => password.id, :id => item.id), :class => 'icon icon-edit' %>
                            <%= link_to '', {:controller => 'sitems', :action => 'destroy', :vault_id => password.id, :id => item.id}, :method => :delete, :class => 'icon icon-del', data: {confirm: 'Delete item?'} %>
                          </span>
                        </td>
                      </tr>
                  <% end %>
                </table>
                <span class="add-sitem">
                  <%= link_to '', new_project_vault_sitem_path(:vault_id => password.id), :class => 'icon icon-add' %>
                </span>
              </td>
              <!--owner-->
              <td><%= password.user %></td>
              <!--notes-->
              <td><%= password.notes %></td>
              <td>
                <%= link_to '', {:action => 'edit', :id => password.id}, :class => 'icon icon-edit', :accesskey => accesskey(:edit) %>
                <%= link_to '', {:action => 'destroy', :id => password.id}, :method => :delete, :class => 'icon icon-del', data: {confirm: 'Delete password?'} %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <!--private passwords-->
    <h2>Private passwords vault</h2>
    <div class="autoscroll">
      <table class="list vault">
        <thead>
        <tr>
          <th width="20%">Host</th>
          <th width="5%">Login</th>
          <th width="10%">Password</th>
          <th width="30%">Items</th>
          <th width="20%">Created by</th>
          <th width="20%">Notes</th>
          <th width="5%">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @vault_passwords_p.each do |password| %>
            <tr>
              <!--host-->
              <td class="a-left"><%= password.host %></td>
              <!--login-->
              <td>
                <%= vault_decrypt(password.login, @master) %>
                <a href="#" title="copy" class="icon icon-copy password-copy" data-clipboard-text="<%= vault_decrypt(password.login, @master) %>"></a>
              </td>
              <!--password-->
              <td>
                <span class="vault-password">
                  <%= vault_decrypt(password.password, @master) %>
                </span>
                <a href="#" title="copy" class="icon icon-copy password-copy" data-clipboard-text="<%= vault_decrypt(password.password, @master) %>"></a><a href="#" title="show/hide" class="icon icon-unlock password-lock"></a>
              </td>
              <!--items-->
              <td>
                <table class="items">
                  <% password.sitems.each do |item| %>
                      <tr>
                        <td width="70%">
                          <span class="sitem <%= item.sitem_type %>-sitem">
                            <%= item_output(item.sitem_type, item.sitem, item.notes) %>
                          </span>
                        </td>
                        <td width="30%">
                          <span class="sitem-actions">
                            <%= link_to '', edit_project_vault_sitem_path(:vault_id => password.id, :id => item.id), :class => 'icon icon-edit' %>
                            <%= link_to '', {:controller => 'sitems', :action => 'destroy', :vault_id => password.id, :id => item.id}, :method => :delete, :class => 'icon icon-del', data: {confirm: 'Delete item?'} %>
                          </span>
                        </td>
                      </tr>
                  <% end %>
                </table>
                <span class="add-sitem">
                  <%= link_to '', new_project_vault_sitem_path(:vault_id => password.id), :class => 'icon icon-add' %>
                </span>
              </td>
              <!--owner-->
              <td><%= password.user %></td>
              <!--notes-->
              <td><%= password.notes %></td>
              <!--actions-->
              <td>
                <%= link_to '', {:action => 'edit', :id => password.id}, :class => 'icon icon-edit', :accesskey => accesskey(:edit) %>
                <%= link_to '', {:action => 'destroy', :id => password.id}, :method => :delete, :class => 'icon icon-del', data: {confirm: 'Delete password?'} %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <% if User.current.admin? %>
        <div class="contextual">
          <%= link_to('Change master password', {:action => 'change_master', :controller => 'masters'}, :class => 'icon icon-passwd') %>
        </div>
    <% end %>
<% end %>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'vaults', :plugin => 'password_vault' %>
    <%= javascript_include_tag 'clipboard.min', :plugin => 'password_vault' %>
    <%= javascript_include_tag 'vaults', :plugin => 'password_vault' %>
<% end %>
<script type="text/javascript">
  setTimeout(function () {
    location = ''
  }, 60000)
</script>
